<?xml version="1.0"?>
<launch>


  

  <arg name="host" default="192.168.1.4" />
  <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node" output="screen">
    <param name="host" value="$(arg host)" />
  </node>
  <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0.4 0 0.1 0 0 0 base_link laser 100" /> 

  <include file="$(find odometry_correction)/launch/odometry_with_imu.launch">
    <arg name="device" value="/dev/ttyUSB1"/>
  </include>  
	
  <node pkg="andymark_driver" type="holonomic_node" name="holonomic_node" output="screen"/>



  <rosparam command="load" file="$(find husky_control)/config/control.yaml" />
    <!-- Load robot description -->
  <include file="$(find husky_description)/launch/description.launch"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false" />
  </node>
    <node pkg="twist_mux" type="twist_mux" name="twist_mux">    
    <rosparam command="load" file="$(find husky_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="husky_velocity_controller/cmd_vel"/>  
  </node>  
  <include file="$(find husky_control)/launch/teleop.launch" />  

  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/>  


  <!--include file="$(find hector_mapping)/launch/mapping_default.launch" /-->
  
  <!--- Run Move Base -->
  <!--include file="$(find husky_navigation)/launch/move_base.launch" /-->

</launch>
